.header {
    font-weight: 600; /* font-semibold */
    font-size: 1.25rem; /* text-xl */
    color: #2d3748; /* text-gray-800 */
    line-height: 1.25; /* leading-tight */
}
.dashboard-container {
    display: flex;
    justify-content: center;
    gap: 50px; /* Space between the main content and right column */
    padding: 48px 20px; /* Add padding to the container */
}

.main-content {
    flex: 1;
    max-width: 700px; /* Adjust based on your desired width for the Card content */
}

.right-column {
    width: 400px;
    flex-shrink: 0; /* Prevent the right column from shrinking */
}

/* Media query to stack the right column on top of the main content on small screens */
@media (max-width: 1024px) {
    .dashboard-container {
        flex-direction: column; /* Stack the columns vertically */
        padding: 50px 20px; /* Ensure padding remains on smaller screens */
        gap: 20px; /* Adjust the gap between the stacked elements */
    }

    .main-content {
        max-width: 100%; /* Allow the main content to take full width */
        margin: 0 auto; /* Center the main content */
    }

    .right-column {
        width: 100%; /* Allow the right column to take full width */
        order: -1; /* Move the right column above the main content */
    }
}

.search-card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #ffffff;
}

.search-input {
    width: 100%;
}

.search-input .q-field--focused .q-field__control {
    outline: none; /* Remove the blue outline */
    box-shadow: none; /* Remove any additional focus shadow */
}

.search-input input:focus {
    outline: none;
    box-shadow: none;
}

.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.q-card-section {
    padding: 0;
}

.user-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    flex-grow: 1;
}

.user-name {
    font-size: 0.875rem;
    font-weight: 600;
}

.user-email {
    font-size: 0.75rem;
    color: #6b7280;
}

.user-name:hover {
    text-decoration: underline;
}

.no-focus .q-field__native:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}


/*Text Styling*/
.text-bold {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    }
    
    .text-light {
    font-weight: 300;
    font-size: 1rem;
    color: #555;
    }
    
    .text-title {
    font-weight: bold;
    font-size: 2rem;
    color: #222;
    }
    
    .text-title-small {
    font-weight: bold;
    font-size: 1.5rem;
    color: #222;
    }
    
    .text-subtitle {
    font-weight: 500;
    font-size: 1.2rem;
    color: #666;
    }
    
    .text-subtitle-center {
    font-weight: 500;
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    }
    
    .text-caption {
    font-size: 0.875rem;
    color: #888;
    }
    
    .text-container {
    width: 80%;
    padding: 5px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px; 
    }
    
    .text-container-normal {
    width: 80%;
    padding: 5px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 500px;
    }
    