.custom-shape {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
    line-height: 0;
    margin-top: -80px;
}

.wave {
    position: relative;
    display: block;
    width: 100%;
    height: clamp(200px, 30vw, 400px);
}

.generic-container{
    display:flex;
    align-items: center;
    margin-left: 40px;
}


.generic-container2{
    display:flex;
    align-items: center;
    margin-right: 40px;
}

.logo-size{
    width: 2.5rem;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
}

.custom-text {
    color: var(--surface-900);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}
.custom-color{
    color: #4f6642;
}
.dark .custom-text {
    color: var(--surface-0);
}


/* Responsive adjustments */
@media (max-width: 767px) {
    .wave {
        height: clamp(150px, 25vw, 300px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .wave {
        height: clamp(175px, 28vw, 350px);
    }
}

.btn-color-login {
    background-color: transparent;
    color: black;
    margin-right: 0.75rem;
}

.btn-color-register {
    background-color: #38a3a5;
    color: white;
}

.transparent-button {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    color: black;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.transparent-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.8);
}

.custom-navbar {
    width: 80%;
    position: sticky;
    top: 0;
    left: 10%;
    z-index: 1000;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5DC;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.custom-navbar.glassmorphism {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.custom-navbar.ellipse-shape {
    border-radius: 50px;
    padding: 1rem 2rem;
    top: 10px;
}


@media (max-width: 768px) {
    .custom-navbar {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (min-width: 1024px) {
    .custom-navbar {
        margin-left: 0;
        margin-right: 0;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

.background-website {
    background-color: #F5F5DC;
}
.dark .background-website {
    background-color: var(--surface-900);
}

.hero-section {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        radial-gradient(77.36% 256.97% at 77.36% 57.52%, rgb(238, 239, 175) 0%, rgb(195, 227, 250) 100%);
    clip-path: ellipse(150% 87% at 93% 13%);
}

.feature-box {
    height: 160px;
    padding: 2px;
    border-radius: 10px;
}

.feature-box-1 {
    background: linear-gradient(90deg, rgba(145, 210, 204, 0.2), rgba(160, 210, 250, 0.2)),
        linear-gradient(180deg, rgba(187, 199, 205, 0.2), rgba(145, 210, 204, 0.2));
}

.feature-box-2 {
    background: linear-gradient(90deg, rgba(145, 210, 204, 0.2), rgba(212, 162, 221, 0.2)),
        linear-gradient(180deg, rgba(251, 199, 145, 0.2), rgba(160, 210, 250, 0.2));
}

.feature-box-3 {
    background: linear-gradient(90deg, rgba(160, 210, 250, 0.2), rgba(212, 162, 221, 0.2)),
        linear-gradient(180deg, rgba(246, 158, 188, 0.2), rgba(212, 162, 221, 0.2));
}

.feature-content {
    padding: 1rem;
    background-color: var(--surface-0);
    height: 100%;
    border-radius: 8px;
}

.dark .feature-content {
    background-color: var(--surface-900);
}

.icon-container {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.testimonial-section {
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
        radial-gradient(77.36% 256.97% at 77.36% 57.52%, #efe1af 0%, #c3dcfa 100%);
}

.feature-highlight {
    border-radius: 8px;
}

.highlight-icon {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.component-title {
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 30px;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: transparent;
    text-align: center;
}



/*hero*/
#hero {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    overflow: hidden;
}

.hero-image-container{
    display: flex;
    justify-content: center;
    transform: translateY(90px);
}

.hero-card {
    display: flex;
    width: 1200px;
    height: 600px;
    justify-content: space-between;
    background: rgba(79, 102, 66, 0.2);
    border-radius: 20px;
    overflow: hidden;
}

.hero-container {
    position: relative;
    width: auto;
}

.hero-container img {
    width: 450px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hero-text-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.hero-text{
    font-size: 85px;
    margin-right: 4rem;
}

.hero-normal{
    font-size: 25px;
}

.hero-image {
    width: 17.5rem;
    height: 17.5rem;
    position: relative;
    z-index: 10;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.hero-button {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 5rem;
    background: #1f3623;
    color: white;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 26px;
    font-weight: 700;
}

/* Responsive Adjustments for Screens Smaller than 1200px */
@media (max-width: 1199px) {
    #hero {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .hero-image-container {
        transform: translateY(50px);
    }

    .hero-card {
        flex-direction: column;
        width: 90vw;
        max-width: 1200px;
        height: auto;
        padding: 1rem;
    }

    .hero-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .hero-container img {
        width: 100%;
        max-width: 450px;
        height: auto;
        border-radius: 20px;
    }

    .hero-text-container {
        text-align: center;
        padding: 1rem;
    }

    .hero-text {
        font-size: 6vw;
        margin-right: 0;
    }

    .hero-normal {
        font-size: 1.5rem;
    }

    .hero-button {
        font-size: 1.5rem;
        padding: 15px 30px;
        margin-right: 0;
        text-align: center;
    }
}

/*navpill*/

.tab {
    width: 100px;
    height: 28px;
    position: absolute;
    z-index: 99;
    outline: none;
    opacity: 0;
}

.tab-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px;

    border-radius: 9px;
}

.tab_label {
    width: 110px;
    height: 28px;
    color: black;
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Style for checked label */
.tab:checked + label {
    color: white;
}

.indicator {
    width: 90px;
    height: 32px;
    background: #1f3623;
    position: absolute;
    top: 50%;
    transform: translate(12%, -50%);
    z-index: 9;
    border-radius: 7px;
    transition: all 0.2s ease-out;
}

.tab--1:checked ~ .indicator {
    left: 2px;
}

.tab--2:checked ~ .indicator {
    left: calc(120px + 2px);
}

.tab--3:checked ~ .indicator {
    left: calc(120px * 2 + 2px);
}

.tab--4:checked ~ .indicator {
    left: calc(120px * 4 + 2px);
}

@media (max-width: 1200px) {
    .tab_label{
        display:none
    }
    .indicator{
        display:none
    }
}

/*features*/
#features {
    width: 88%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
}
.custom-semi-circle {
    position: absolute;
    padding-top: 8px;
    top: 0px;
    right: 32px;
    width: 90px;
    height: 70px;
    background: #1f3623;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    color: white;
}
@media (min-width: 1024px) {
    #features {
        padding-left: 5rem;
        padding-right: 5rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    justify-content: center;
}

.feature-heading {
    grid-column: span 12;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.feature-title {
    color: var(--surface-900);
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-size: 2.25rem;
}

.dark .feature-title {
    color: var(--surface-0);
}

.feature-subtitle {
    color: var(--muted-color);
    font-size: 1.5rem;
}

.feature-card {
    grid-column: span 12; /* col-span-12 */
    padding: 0; /* p-0 */
    margin-top: 1.5rem; /* mt-6 */
    min-height: 300px;
}

@media (min-width: 768px) {
    .feature-card {
        grid-column: span 12; /* md:col-span-12 */
    }
}

@media (min-width: 1024px) {
    .feature-card {
        grid-column: span 4; /* lg:col-span-4 */
        padding-right: 2rem; /* lg:pr-8 */
        margin-top: 0; /* lg:mt-0 */
    }
}

.feature-card-inner {
    padding: 2px;
    border-radius: 10px;
    background: rgba(79, 102, 66, 0.2);
}

.feature-card-content {
    padding: 1rem; /* p-4 */
    background-color: var(--surface-0); /* bg-surface-0 */
    height: 100%; /* h-full */
    border-radius: 8px;
}

.dark .feature-card-content {
    background-color: var(--surface-900); /* dark:bg-surface-900 */
}



.feature-icon {
    font-size: 1.5rem; /* !text-2xl */
    color: #2C7A7B; /* text-teal-700 */
}

.feature-card-title {
    margin-top: 1.5rem; /* mt-6 */
    margin-bottom: 0.25rem; /* mb-1 */
    color: var(--surface-900); /* text-surface-900 */
    font-size: 1.5rem; /* text-xl */
    font-weight: 600; /* font-semibold */
}

.dark .feature-card-title {
    color: var(--surface-0); /* dark:text-surface-0 */
}

.feature-card-description {
    color: var(--surface-600);
    font-size: 1.1rem;/* text-surface-600 */
}

.dark .feature-card-description {
    color: var(--surface-200); /* dark:text-surface-200 */
}

/*team section*/
.team-section {
    grid-column: span 12; /* col-span-12 */
    margin-top: 5rem; /* mt-20 */
    margin-bottom: 5rem; /* mb-20 */
    padding: 0.5rem; /* p-2 */
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(145, 210, 204, 0.2), rgba(160, 210, 250, 0.2)),
    linear-gradient(180deg, rgba(187, 199, 205, 0.2), rgba(145, 210, 204, 0.2));
}

@media (min-width: 768px) {
    .team-section {
        padding: 5rem; /* md:p-20 */
    }
}

.team-content {
    display: flex; /* flex */
    flex-direction: column; /* flex-col */
    justify-content: center; /* justify-center */
    align-items: center; /* items-center */
    text-align: center; /* text-center */
    padding: 1rem; /* px-4 py-4 */
}

@media (min-width: 768px) {
    .team-content {
        padding-top: 0; /* md:py-0 */
        padding-bottom: 0; /* md:py-0 */
    }
}

.team-title {
    color: #1a202c; /* text-gray-900 */
    margin-bottom: 0.5rem; /* mb-2 */
    font-size: 1.875rem; /* text-3xl */
    font-weight: 600; /* font-semibold */
}

.team-subtitle {
    color: #718096; /* text-gray-600 */
    font-size: 1.5rem; /* text-2xl */
}

.team-description {
    color: #1a202c; /* text-gray-900 */
    line-height: 1.5; /* sm:line-height-2 */
    font-size: 1.5rem; /* text-2xl */
    margin-top: 1.5rem; /* mt-6 */
    max-width: 800px;
}

@media (min-width: 768px) {
    .team-description {
        line-height: 2; /* md:line-height-4 */
    }
}

.team-logo {
    margin-top: 1.5rem; /* mt-6 */
}

/*highlight section*/
#highlights {
    padding-top: 1.5rem; /* py-6 */
    padding-bottom: 1.5rem; /* py-6 */
    padding-left: 1.5rem; /* px-6 */
    padding-right: 1.5rem; /* px-6 */
    margin-top: 3rem; /* my-12 */
    margin-bottom: 3rem; /* my-12 */
    margin-left: 0; /* mx-0 */
    margin-right: 0; /* mx-0 */
}

@media (min-width: 1024px) {
    #highlights {
        padding-left: 5rem; /* lg:px-20 */
        padding-right: 5rem; /* lg:px-20 */
        margin-left: 5rem; /* lg:mx-20 */
        margin-right: 5rem; /* lg:mx-20 */
    }
}

.text-center {
    text-align: center;
}

.highlight-title {
    color: var(--surface-900); /* text-surface-900 */
    font-weight: 400; /* font-normal */
    margin-bottom: 0.5rem; /* mb-2 */
    font-size: 2.25rem; /* text-4xl */
}

.dark .highlight-title {
    color: var(--surface-0); /* dark:text-surface-0 */
}

.highlight-subtitle {
    color: var(--muted-color); /* text-muted-color */
    font-size: 1.5rem; /* text-2xl */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* grid-cols-12 */
    gap: 1rem; /* gap-4 */
    margin-top: 5rem; /* mt-20 */
    padding-bottom: 0.5rem; /* pb-2 */
}

@media (min-width: 768px) {
    .grid-container {
        padding-bottom: 5rem; /* md:pb-20 */
    }
}

.grid-item {
    display: flex; /* flex */
    justify-content: center; /* justify-center */
    grid-column: span 12; /* col-span-12 */
    background-color: #E9D8FD; /* bg-purple-100 */
    padding: 0; /* p-0 */
    order: 1; /* order-1 */
    border-radius: 8px;
}

@media (min-width: 1024px) {
    .grid-item {
        grid-column: span 6; /* lg:col-span-6 */
        order: initial; /* lg:order-none */
    }
}

.grid-item img {
    width: 91.666667%; /* w-11/12 */
}

.grid-item-content {
    grid-column: span 12; /* col-span-12 */
    display: flex; /* flex */
    flex-direction: column; /* flex-col */
    align-items: center; /* items-center */
    text-align: center; /* text-center */
    gap: 1rem; /* gap-4 */
    margin-top: auto; /* my-auto */
}

@media (min-width: 1024px) {
    .grid-item-content {
        grid-column: span 6; /* lg:col-span-6 */
        align-items: flex-end; /* lg:items-end */
        text-align: right; /* lg:text-right */
    }
}

.icon-container {
    display: flex; /* flex */
    align-items: center; /* items-center */
    justify-content: center; /* justify-center */
    background-color: #D6BCFA; /* bg-purple-200 */
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 10px;
}

.icon {
    font-size: 2.25rem; /* !text-4xl */
    color: #6B46C1; /* text-purple-700 */
}

.text-large {
    color: var(--surface-900); /* text-surface-900 */
    font-size: 1.875rem; /* text-3xl */
    font-weight: 400; /* font-normal */
}

.dark .text-large {
    color: var(--surface-0); /* dark:text-surface-0 */
}

.text-medium {
    color: var(--surface-700); /* text-surface-700 */
    font-size: 1.5rem; /* text-2xl */
    line-height: 2rem; /* leading-normal */
    margin-left: 0; /* ml-0 */
    max-width: 650px;
}

.dark .text-medium {
    color: var(--surface-100); /* dark:text-surface-100 */
}

@media (min-width: 768px) {
    .text-medium {
        margin-left: 0.5rem; /* md:ml-2 */
    }
}


/* General Layout Styles */
.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    margin-top: 5rem;
    padding-top: 0.5rem;
  }

  @media (min-width: 768px) {
    .main-grid {
      padding-top: 5rem;
    }
  }

  /* Column Styles */
  .grid-item-2 {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    align-items: center;
    gap: 1rem;
  }

  @media (min-width: 1024px) {
    .left-section {
      grid-column: span 6;
      text-align: left;
      align-items: flex-start;
    }
  }



  @media (min-width: 1024px) {
    .right-section {
      grid-column: span 6;
    }
  }

  .image {
    width: 91.67%; /* 11/12 */
  }

  .icon-container i {
    font-size: 2.5rem; /* Adjust this value as needed */
}